Source: liblastfm
Priority: extra
Maintainer: John Stamp <jstamp@users.sourceforge.net>
Build-Depends: debhelper (>= 7), quilt, ruby, libqt4-dev, libfftw3-dev, libmad0-dev, libsamplerate0-dev
Standards-Version: 3.8.1
Section: libs
Homepage: http://www.last.fm/
Vcs-Browser: http://github.com/jstamp/liblastfm
Vcs-Git: git://github.com/jstamp/liblastfm.git

Package: liblastfm-dev
Section: libdevel
Architecture: any
Depends: liblastfm0 (= ${binary:Version})
Description: The Last.fm web services library - development files
 liblastfm is a C++/Qt4 library provided by Last.fm for use with their web
 services. With it subscribers can scrobble, fingerprint, and tag music; get
 information on tracks, events, groups, and users; and request Last.fm radio
 streams.
 .
 This package contains the development files. Developers working on a new
 client will need to request an API key. See README for more details.

Package: liblastfm0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Last.fm web services library for C++/Qt4
 liblastfm is a C++/Qt4 library provided by Last.fm for use with their web
 services. With it subscribers can scrobble, fingerprint, and tag music; get
 information on tracks, events, groups, and users; and request Last.fm radio
 streams.

Package: liblastfm0-dbg
Architecture: any
Section: debug
Depends: liblastfm0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Debugging symbols for the Last.fm web services library
 liblastfm is a C++/Qt4 library provided by Last.fm for use with their web
 services. With it subscribers can scrobble, fingerprint, and tag music; get
 information on tracks, events, groups, and users; and request Last.fm radio
 streams.
 .
 This package contains the debugging symbols.
